/* Board */

.comlist{
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.comlist p {
    margin: 0; 
    padding: 0;
}




.minkome{
    width: 60%;
}

.calen{
    width: 35%;
}

.calen-comment{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.minkome h4 {
    color: #ffffff;/*文字色*/
    padding: 0.7em;/*文字周りの余白*/
    /* padding-right: 200px; */
    display: inline-block;/*おまじない*/
    line-height: 1.3;/*行高*/
    background: #4188c2;/*背景色*/
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  }
  
.minkome h4:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }

.calen h2 {
    color: #ffffff;
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #b86fca;
  }
  
.calen h2:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid rgb(119, 8, 153);
  }
  
.dash{
    padding: 1rem 2rem;
    border-left: 6px double #000;
    background-color: rgba(209, 209, 209, 0.678);
    width: 100%;
  }

.calen iframe {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}



.shusapo-subtitle{
  margin-right: 1.2rem;
  position: relative;
  color: white;
  line-height: 1.4;
  padding: 0.5em 0.5em 0.5em 1.8em;
}

#company{
  background: #6ea3d4;

}

#sana{
  background: #65c46c;
}


#es{
  background: #000c798a;
}

#iana{
  background: #d46161;
}

.shusapo-subtitle:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
}



.shusapo-content{
  width: 75%;
}




.shousai{
  width: 75%;
}

.shousai h1 {
  position: relative;
  padding-left: 25px;
  font-size: 5rem;
}

.shousai h1:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.shousai h1:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 7px rgb(119, 195, 223);
}

.box20{
  position: relative;
  padding: 0.25em 1em;
  margin: 2em 0;
  top: 0;
  background: #ddddddfa;
}
.box20:before, .box20:after{ 
  position: absolute;
  top: 0;
  content:'';
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.box20:before{
  border-left: dotted 2px #15adc1;
  border-top: dotted 2px #15adc1;
  border-bottom: dotted 2px #15adc1;
  left: 0;
}
.box20:after{
  border-top: dotted 2px #15adc1;
  border-right: dotted 2px #15adc1;
  border-bottom: dotted 2px #15adc1;
  right: 0;
}
.box20 p {
  margin: 0; 
  padding: 0;
  font-size: 1.5rem;
}



.in-li a{
  font-size: 1.6rem;

}
.in-li a:hover{
  color: #0d0086;
}


.int-title{
  padding: 1rem 2rem;
  border-bottom: 3px solid #000;
  background: #d6d6d694;
  width: 75%;
}



